.newSlider {
  flex: 4;
  color: rgb(104, 104, 104);
}

.addSliderForm {
  margin-top: 10px;
}

.addSliderItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addSliderItem > label {
  color: rgb(104, 104, 104);
  font-weight: 600;
  margin-bottom: 10px;
}

.addSliderItem > input {
  padding: 10px;
}

.addSliderItem > select {
  padding: 10px;
}

.addSliderButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color:  #7380ec;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
